@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

@import '@/assets/css/base.css';

@import 'tailwindcss';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: 'pseudoelements';
}

@import '@/assets/css/style.css';

@theme {
  --font-firacode: 'Fira Code', monospace;
}

:root {
  @apply md:scrollbar-thumb-neutral-300 md:scrollbar-track-neutral-800 md:scrollbar-thin;
  background-color: black;
  color: white;
}

body {
  @apply md:scrollbar-none;
}

#app {
  @apply overflow-hidden;
  min-height: 100vh;
}
