@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

@import '@/assets/css/base.css';
@import 'tailwindcss';
@import '@/assets/css/style.css';

@theme {
  --font-firacode: 'Fira Code', monospace;
}

:root {
  background-color: black;
  color: white;
}

#app {
  @apply overflow-hidden;
  min-height: 100vh;
}
